################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FitnessTrackerLibrary/.vs/FitnessTrackerLibrary/FileContentIndex
/FitnessTracker.Domain/.vs/FitnessTracker.Domain/FileContentIndex/fadfb6e6-3c19-47d3-9899-eebdd54c2dc9.vsidx
